.post-box {
  background-color: #d9e4d8;
  letter-spacing: 0.10em;
  color: rgb(0, 0, 0);
  height: 50vh;
  width: 45vw;
  margin: 0 auto;
  opacity: 0.85;
  font-family: 'Handlee', cursive, 'Permanent Marker', cursive;
  border-radius: 40px;
  border: 2px rgb(214, 175, 125) solid;
}

.each-post {
  padding-left: 15px;
  padding-top: 7px;
}